/*Start of Reset CSS file*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #444444; }

body, li, div, dl, dt, dd, pre, input, textarea, select, p, td {
  font-size: 12px; }

a {
  color: #0099cc;
  text-decoration: none; }

ul {
  list-style: none; }

textarea {
  resize: vertical; }

fieldset, img, button, input[type="button"], input[type="submit"] {
  border: 0; }

button {
  background: transparent;
  overflow: visible; }

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

/*to remove padding issue in firefox and chrome*/
@media print {
  .noprint {
    display: none !important; }

  .noP .f14 {
    font-size: 14pt; }

  .noP .f13 {
    font-size: 13pt; }

  .noP .f11 {
    font-size: 11pt; } }
/*End of Reset CSS file*/
/***
*******************************Start of Tabbing css */
.tabbing .tabCont {
  clear: both;
  display: none;
  padding: 10px;
  border: 1px solid #DDDDDD; }

.tabbing .tabs {
  float: left; }

.tabbing .tabs li {
  cursor: pointer;
  float: left;
  list-style: none;
  padding: 8px;
  background-color: #efefef;
  margin-right: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 6px; }

.tabbing .tabs .active {
  padding-bottom: 4px;
  border-bottom: 4px solid #4C22FF; }

.tabbing .tabs .disable {
  background-color: #929292;
  color: #D1D1D1; }

/*End of Tabbing css */
